.taskOptionModal {
  .optionForm {
    .arco-form-item {
      margin-bottom: 14px;
    }

    .formRow {
      display: flex;
      gap: 14px;

      .halfItem {
        flex: 1;
        min-width: 0;
      }
    }
  }
}
