.headerNav {
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;

  .part {
    display: flex;
    gap: 10px;

    .title {
      margin-left: 4px;
    }

    .boardList {
      width: 220px;
      .boardItem {
        margin-bottom: 10px;
      }
    }

    .title,
    .memberList {
      height: 30px;
      line-height: 30px;
      display: flex;
      gap: 2px;

      .member {
        height: 30px;
        width: 30px;
      }
    }
  }
  .userInfo {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
  }
}
