.dataOverviewCard {
  display: flex;
  flex-direction: column;
  gap: 14px;
  .dataCards {
    display: grid;
    gap: 12px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .progressCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
