.middleTasks {
  display: flex;
  height: 100%;
  border-radius: 8px;
  padding: 5px;
  border: 1px solid rgb(208, 208, 208);
  justify-content: space-between;

  .taskColumns {
    width: 220px;
    flex-shrink: 0;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 12px 8px;

    .status {
      display: flex;
      justify-content: space-between;
      padding: 0 4px 8px 4px; /* 内部元素自己控制边距 */
    }

    .taskItems {
      .taskItem {
        background-color: #f3f4f6;
        border-radius: 8px;
        padding: 10px 8px;
        margin-bottom: 8px;
        width: 100%;
        box-sizing: border-box;
        transition: all 0.2s ease;

        &:hover {
          transform: translateY(-2px); // 轻微上浮
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); // 阴影加深
          border-color: #d9d9d9; // 边框颜色变化
          background-color: #fafafa; // 背景色微变
          cursor: pointer;
        }
      }
      .addTask {
        text-align: center;
        border-radius: 6px;
        span {
          width: fit-content;
        }
      }
    }
  }
}
