.statusCard {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
}

.cardTitle {
  font-size: 15px;
  font-weight: 700;
  color: var(--app-text);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 18px;

  .dataCardContent {
    display: grid;
    gap: 12px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}
