.right {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .header header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content {
    width: 100%;
    height: 100%;
  }
}
