.filter {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 15px;

  .manager {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    border-right: 1px solid #ccc;
    padding-right: 15px;
  }

  .search {
    display: flex;
    align-items: center;
    flex: 1;
  }
  .options {
    width: fit-content;
  }
}
