.filter {
  line-height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;

  .search {
    display: flex;
    align-items: center;
    flex: 1;
  }
  .options{
    width: fit-content;
  }
}
